
.tips-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tip {
    margin-bottom: 20px;
}

.tip-title {
    margin: 0;
    color: #333;
    font-size: 30px;
    background-color: lightgray;
    border-radius: 20px;
    padding:20px;
}

.tip-content {
    font-size: 16px;
    color: #454545;
    background-color: lightgrey;
    border-radius: 20px;
    padding:20px;
}

.pagination {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width:150px;
}

.pagination button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not([disabled]) {
    background-color: #2980b9;
}

.pagination-info {
    margin-top: 10px;
}

.tips-main-title{
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tips-main-cont{
    margin-top:100px;
}